.popup-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popup {
  border-radius: 20px;
  box-shadow: 0 3px 10px #a3c1a3ff;
  padding: 1rem;

  display: flex;
}

.left-part {
  flex-basis: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
}
.right-part {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-part > img {
  border-radius: 20px;
  width: 450px;
  height: 300px;
  margin-right: auto;
  padding: 1rem;
}

.country-data {
  display: flex;
  flex-wrap: wrap;
}

.imp-data {
  margin-right: 1.5rem;
}

.right-part > h1 {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 650px) {
  .popup {
    width: 100%;
    flex-direction: column;
  }
  .country-data {
    flex-direction: column;
  }
  .close-button {
  }
}

@media (max-width: 350px) {
  .left-part img {
    width: 150px;
    height: 100px;
  }
}

.close-button {
  width: 25px;
  height: 25px;
  margin-right: auto;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #555;
}
/*
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  border: 2.5px solid #a3c1a3ff;
  z-index: 10;
  max-width: 80%;
}
.popup.active {
  transform: translate(-50%, -50%) scale(1);
}
.left-part .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #a3c1a3ff;
  font-size: 1.5rem;
  font-weight: bold;
}

#overlay {
  position: fixed;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
} */
