/* global section  */
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap");

html,
body {
  margin: 0;
}
h1,
p {
  line-height: 2rem;
}
body {
  background: #ece4da;
  margin: 0;
  padding: 0;

  font: 1em/1.5em "Raleway", sans-serif;
  color: #555;
}

a {
  color: #b57243;
}
a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

.center {
  text-align: center;
}

/* header section starts from here  */

.header {
  margin-bottom: 5rem;
}

.header h1 {
  margin: 4rem 0;
}

.logo img {
  width: 300px;
  height: auto;
}

.wrap {
  max-width: 700px;
  margin: 5rem auto 2rem auto;
  padding: 1rem;
}

/* footer section starts from here  */

footer {
  margin-bottom: 30px;
  text-align: center;
  font-size: 0.875em;
}

/* main data fetched is shown here  */
.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 20px;
  box-shadow: 0 3px 10px #a3c1a3ff;
  margin: 1rem;
  display: flex;
  flex-direction: column;

  width: 25%;
}

.upper-part {
  display: flex;
  justify-content: center;
}

.upper-part > img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
}
.error > img {
  width: 150px;
  height: 150px;
  margin-top: 10%;
}
.lower-part {
  padding: 1rem;
  text-align: center;
}
/* responsiveness  */
@media (min-width: 1200px) {
  .upper-part img {
    margin-top: 5%;
  }
}
@media (min-width: 1000px) {
  .upper-part img {
    margin-top: 5%;
  }
}
@media (max-width: 700px) {
  .wrap {
    margin: 1rem auto;
  }
  .upper-part img {
    width: 150px;
    height: 100px;
  }
  .lower-part h1,
  .lower-part p {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
  .error > img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 450px) {
  .card {
    flex-basis: 50%;
  }
  .upper-part img {
    width: 120px;
    height: 80px;
    margin-top: 1rem;
  }

  div#pop-up.popup {
    width: 80%;
  }
  div#pop-up.popup img {
    width: 80%;
    height: auto;
  }
}

/* Loader CSS */
.lds-ring {
  display: flex;
  margin: 0 auto 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: flex;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #a3c1a3ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #555 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup span {
  font-weight: bold;
  font-size: large;
}

.filter {
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  margin-right: 2.5rem;
}

.filter > select {
  background: none;
  border-radius: 10px;
  width: 25ch;
  height: 1.5rem;
  padding-left: 0.75rem;
  margin-left: 1.5rem;
  font-weight: bold;
  box-shadow: 0 3px 10px #a3c1a3ff;
  margin-bottom: 1.75rem;
}

.filtered-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
